html,body,div,ul,li{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul li{
    list-style-type: none;
}

.title h4{
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    text-indent: 1rem;
}
button{
    border: none;
    outline: none;
}

